.top {
  height: 70px;
  background: #284436;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slider-heading {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.slider-button {
  border-radius: 4px;
  background: #fff;
  color: #284436;
  margin-left: 30px;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
  border: none;
  outline: none;
  font-size: 16px;
}
.crousel {
  cursor: pointer;
}
.slick-slider {
  height: 460px;
  width: 100%;
  overflow: hidden;
}
.range-slider-main .slick-slider {
  height: 558px;
  width: 100%;
  overflow: hidden;
}
.range-slider-main .slick-dots {
  bottom: 4% !important;
  z-index: 10000;
  font-size: 20px;
  opacity: 1 !important;
}
.slick-dots li button:before {
  font-size: 14px !important;
  color: #d9d9d9 !important;
  opacity: 1 !important;
}
li.slick-active button:before {
  color: white !important;
  opacity: 1 !important;
}
.slick-dots {
  bottom: 4% !important;
  z-index: 10000;
  font-size: 20px;
  opacity: 1 !important;
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 10;
  background: none !important;
  color: white !important;
}
.slick-next:before,
.slick-prev::before {
  font-size: 35px !important;
}
.slick-list {
  overflow: hidden;
}

button {
  z-index: 1;
}
.wrap {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 460px;
  background: url("../Assets/slider_3.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: left;
  color: #fff;
  position: relative;
}
.wrap-1 {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 460px;
  background: url("../Assets/slider_1.png");
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: left;
  color: #fff;
  position: relative;
}
.wrap-2 {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 460px;
  background: url("../Assets/slider_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: left;
  color: #fff;
  position: relative;
}
.wrap-3 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 460px;
  background: url("../Assets/slider_4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: left;
  color: #fff;
  position: relative;
}
.wrap-4 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 460px;
  background: url("../Assets/slider_5.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.wrap-3 img {
  position: absolute;
  z-index: 1000;
  left: 8%;
  top: 6%;
}
.gradiant {
  height: 460px;
  width: 50%;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: left;
  background: transparent
    linear-gradient(
      270deg,
      #ffffff00 0%,
      #00000059 25%,
      #000000e6 64%,
      #000000 100%
    )
    0% 0% no-repeat padding-box;
}
.gradiant h1 {
  padding-top: 18%;
  padding-left: 60px;
  font-size: 48px;
  font-weight: bold;
}
.gradiant p {
  display: block;
  padding-left: 60px;
  font-size: 24px;
  line-height: 24px;
}
.wrap img {
  width: 100%;
  height: 100%;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition-duration: 300ms;
}
.range {
  border-radius: 10px;
  height: 550px;
  overflow: hidden;
}
.range-image {
  height: 558px;
  padding: 0;
  margin: 0;
}
.range-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-data {
  background: #284436;
}
.range-slider-data {
  margin-top: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.range-slider-data h1 {
  text-align: center;
  align-items: center;
  display: block;
  display: flex;
  justify-content: center;
  color: #d1a461;
  font-size: 36px;
  font-weight: bold;
}
.range-slider-data p {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}
.slider-buttons {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
}
.slider-buttons button {
  background: transparent;
  padding: 10px 14px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #fff;

  outline: none;
}
.range-top {
  font-size: 36px;
  text-align: center;
  align-items: center;
  font-weight: bold;
}
.range-heading {
  font-size: 20px;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

/* media queries */
@media (max-width: 500px) {
  .range-image {
    height: 290px;
    padding: 0;
    margin: 0;
  }
  .range-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
